.welcome{
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    padding: 2em 1em;
    align-items: center;
    color: white;
    background-color: #4A7BE6;
}

.welcome h2{ font-weight: lighter; }
.welcome h1{
    text-align: center;
    font-size: 3.5rem;
}
.welcome p{ font-size: 1.5rem; }
.welcome hr{
    border:1px solid black;
    width: 70%;
    margin: 1em 0;
}

.remember-me{
    display: inline-block;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-left: .3em;
}

.buttons{
    margin-top: -1.5em;
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons a{
    text-decoration: underline;
    display: inline-block;
    padding: .7em 1.6em;
    color: #3490de;
    font-size: 1.6rem;
}


@media screen and (min-width: 400px){
    .welcome{ padding: 3em 1em; }
}

@media screen and (min-width: 550px){
    .welcome hr{ width: 50%; }
}

@media screen and (min-width: 750px){
    .welcome hr{ width: 40%; }
    button:hover{ background-color: #3d84a8; }
}

@media screen and (min-width: 1000px){
    .welcome hr{ width: 30%; }
}
