.home{
    padding: .2em .5em;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, sans-serif;
}

.home a{ color: #3f72af; }
form{ padding: .7em; }

form h3{ 
    font-size: 3rem;
    text-align: center;
    color: #393e46;
}


@media screen and (min-width: 400px){
    form{ width: 80%; }
}

@media screen and (min-width: 550px){
    .home{
        margin-left: 5%; 
        margin-top: 2%;
    }
    form{ width: 70%; }
}

@media screen and (min-width: 750px){
    .home{ margin-left: 10%; }
    form{ width: 50%; }
    button:hover{ background-color: #3d84a8; }
}

@media screen and (min-width: 1000px){
    form{ width: 40%; }
}


