*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.main{
  min-height: 100vh;
  background-color: #92A9BD;
}
.accounts-section{
  background-color: rgba(220, 234, 248, 0.925);
  border-radius: 5px;
  box-shadow: 4px 5px 7px rgba(131, 141, 153, 0.925);
}
/* Styles for adding and removing items */
.deleted{
  border-radius: 5px;
  text-decoration: line-through;
  animation-name: deleteItem;
  animation-duration: 0.65s;
  animation-timing-function: ease-in;
}
.added{
  animation-name: addItem;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

@keyframes deleteItem {
  0%{
    transform: translate(0);
    opacity: 0.7;
  }
  100%{
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: translate(-105%);
    opacity: 0;
  }
}
@keyframes addItem {
  from{
    transform: translateY(105%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


/* Media Queries */
@media screen and (min-width: 768px){
  .accounts-section{
    max-width: 80%;
  }
}

@media screen and (min-width: 992px){
  .accounts-section{
    width: 70%;
  }
}
