{% extends "accounts/base.html" %}
{% load static %}

{% block main %}
  <section class="uk-container uk-container-small">
    <form action="{% url 'accounts:add_account' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="uk-margin">
        <label class="uk-text-meta">
          <input class="uk-checkbox" type="checkbox" id="checkbox">
            <span>show password</span>
          </label>
      </div>

      <button class="uk-button uk-button-primary uk-margin-right" name="submit">Add Account</button>
      <a href="{% url 'accounts:dashboard' %}" class="uk-button uk-button-danger">Cancel</a>
    </form>
  </section>
{% endblock main %}

{% block custom_script %}
  <script src="{% static 'accounts/js/password_toggle.js' %}"></script>
{% endblock custom_script %}
