<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if user.is_authenticated %}
       Spind - {{ user.username }}
    {% else %}
      Spind - German for "Locker"
    {% endif %}
  </title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css"/>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit.min.js" defer></script>
  <!-- UIkit Icons -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit-icons.min.js" defer></script>
</head>

<body>
  <nav class="uk-navbar-container" uk-navbar>
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="{% url 'accounts:index' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
        <li><a href="#">Logout</a></li>
      {% else %}
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      {% endif %}
    </ul>
  </nav>

  <header class="uk-container uk-container-small uk-margin-top">
    {% block header %}{% endblock header %}
  </header>

  <main class="uk-container uk-margin-top uk-margin-bottom">
    {% block main %}{% endblock main %}
  </main>

  <footer class="uk-container">
    {% block footer %}{% endblock footer %}
  </footer>

  {% block custom_script %}{% endblock custom_script %}
</body>
</html>
