{% extends "accounts/base.html" %}

{% block header %}
  <section class="uk-section uk-section-secondary uk-padding-large">
    <h1 class="uk-text-center">Spind (German word for "Locker")</h1>
    <p class="uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing, elit.
      Est cupiditate minima animi. Molestiae fuga nesciunt nam, molestias unde labore distinctio.
    </p>

    <!-- If user is not logged in yet, display the register link -->
    {% if not user.is_authenticated %}
      <div class="uk-text-center">
        <a href="#" class="uk-button uk-button-primary">Register</a>
      </div>
    {% endif %}
  </section>
{% endblock header %}

{% block main %}
  <article class=" uk-container uk-container-small">
    <section class="uk-section">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempore, quisquam, accusamus
      explicabo quod sunt delectus fuga a ea voluptas saepe modi officiis nisi libero nobis, esse, eius possimus.
      </p>

      <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Ipsa suscipit accusantium corporis quas
        quisquam, nulla debitis! Omnis nulla deleniti laborum ipsum consequatur!
        Tempore rerum harum quod eum blanditiis repellat temporibus.
      </p>
    </section>
  </article>
{% endblock main %}
