<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Account</title>
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    form{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>

  <form action="#" method="POST">
    <div>
      <label for="account_name">Account Name:</label>
      <input type="text" name="account_name" id="account_name" value="{{ name }}">
    </div>

    <div>
      <label for="account_password">Account Password</label>
      <input type="text" name="account_password" id="account_password" value="{{ password }}">
    </div>
  </form>

</body>
</html>
