{% extends "layout.html" %}
{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock links %}

{% block main %}
  <section class="welcome">
    <h2>WELCOME TO</h2>
    <h1>Password Manager</h1>
    <hr>
    <p>Login to Access Dashboard</p>
  </section>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="validate">
    <div>
      <label for="email">EMAIL</label>
      <input type="email" name="email" placeholder="johndoe@email.com" id="email" autofocus required>
    </div>

    <div>
      <label for="password">PASSWORD</label>
      <input type="password" name="password" placeholder="********" id="password" autofocus required>
    </div>

    <div>
      <input type="checkbox" name="rememberMe" id="rememberMe">
      <label for="rememberMe" class="remember-me">Remember Me</label>
    </div>

    <div class="buttons">
      <button type="submit" id="loginBtn">Login</button>
      <a href="/signup">Create Account</a>
    </div>

    <p><a href="#">Forgot your password?</a> Get help or <a href="/signup">Sign Up</a></p>
  </form>
{% endblock main %}
