<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
    {% if title %}
      <title>{{ title }} - Password Manager</title>
    {% else %}
      <title>Password Manager</title>
    {% endif %}
  {% endblock %}

  {% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% endblock %}
</head>

<body>
  <main>
    {% block main %}
    {% endblock %}
  </main>

  {% block footer %}
    <footer>
      <small id="copyright">Copyright&copy; 2021</small>
    </footer>
  {% endblock %}
 <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
