{% extends "layout.html" %}
{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock links %}

{% block main %}
  <div class="home">
      <a href="/" class="btn btn-info">Home</a>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/adduser">
    <h3>Sign Up</h3>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="johndoe@mail.com" id="email" autofocus required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="********" id="password" autofocus required>
    </div>

    <button type="submit">Register</button>
  </form>
{% endblock main %}
